@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --color-red: hsl(0, 78%, 62%);
  --color-cyan: hsl(180, 62%, 55%);
  --color-orange: hsl(34, 97%, 64%);
  --color-blue: hsl(212, 86%, 64%);
  --color-dark-blue: hsl(234, 12%, 34%);
  --color-grayish-blue: hsl(229, 6%, 66%);
  --color-light-gray: hsl(0, 0%, 98%);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  padding: 2.5em 1em;
  margin: 0;
  font-size: 15px;
}

h1,
h3 {
  color: var(--color-dark-blue);
}

h3 {
  font-size: 1.4rem;
  margin-bottom: 0;
}

p,
a {
  color: var(--color-grayish-blue);
  margin-top: 0;
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

.title {
  text-align: center;
}

.title h1 {
  font-weight: 400;
}

.title span {
  font-weight: 600;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  margin: 4em 0;
}

.feature-card {
  background-color: #fff;
  box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.2);
  padding: 1em;
  border-radius: 10px;
}

.feature-card:first-child {
  border-top: 4px solid var(--color-cyan);
}
.feature-card:nth-child(2) {
  border-top: 4px solid var(--color-red);
}
.feature-card:nth-child(3) {
  border-top: 4px solid var(--color-orange);
}
.feature-card:last-child {
  border-top: 4px solid var(--color-blue);
}

.feature-card__body {
  margin: 1em 0 2em;
}

.feature-card__img {
  text-align: right;
}
